body {
    font-family: Arial, sans-serif;
    background-color: #75b8e5;
    margin: 0;
    padding: 0;}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}

.form-group {
    margin-bottom: 15px;}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;}

h1 {
    max-width: 400px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}

form {
    max-width: 400px;
    margin: 20px auto;}


input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;}

button:hover {
    background-color: #45a049;}

p {
    margin-bottom: 20px;}


a {
    color: #e0ecee;
    text-decoration: none;}

a:hover {
    text-decoration: underline;}

.resultado {
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
    display: block;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-container .button {
    text-decoration: none;
    color: #fff;
    background-color: #1fa6c4;
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}