<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilocss.css">
    <title>Ejercicio 1</title>
</head>
<body>
    <div class="container">
        <h1>Calculo de compras</h1>
        <form method="post" action="{{ url_for('ejercicio1') }}">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" required><br>
            </div>

            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" name="edad" required><br>
            </div>

            <div class="form-group">
        <label for="tarros_pintura">Tarros de pintura a comprar:</label>
        <input type="number" name="tarros_pintura" required><br>
            </div>

        <button type="submit">Calcular</button>
    </form>
    </div>
</body>
</html>