<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/estilocss.css">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="btn-container">
            <h1>Menú Principal</h1>
            <a href="{{ url_for('ejercicio1') }}"><button style="background-color: #4CAF50; color: white;">Ejercicio 1</button></a>
            <a href="{{ url_for('ejercicio2') }}"><button style="background-color: #008CBA; color: white;">Ejercicio 2</button></a>
        </div>
    </div>
</body>
</html>